{% extends 'app/main.html' %}
{% block content %}
<div class="header_bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin: 0;">You have <i> {{count}} </i>incomplete task{{count|pluralize:"s"}} </h3>
    </div>
    {% if request.user.is_authenticated %}
    <!-- <p>{{request.user}}</p> -->
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<!-- <hr> -->
<!-- <h1>My To Do List</h1> -->
<!-- <a href="{% url 'task-create' %}">Add Task</a> -->
<div id="search_bar">
    <form method="GET">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add_link" href="{% url 'task-create' %}">&#x2b</a>
</div>


<div class="wrapper">
    {% for task in tasks %}
        <div class="task_wrapper">
            {% if task.complete %}
                <div class="task_title">
                    <div class="task_complete_icon">
                    </div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                <a class="delete_link" href="{% url 'task-delete' task.id %}">&#215;</a>
                {% else %}
                <div class="task_title">
                    <div class="task_incomplete_icon">
                    </div>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete_link" href="{% url 'task-delete' task.id %}">&#215;</a>
            {% endif %}

           
        </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>
<!-- <table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">delete
        </a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table> -->
{% endblock content %}

